*.pyc
*.gif
*.DS_Store
*/*.pyc
*.*.pyc
*.cpython-36.pyc
__pycache__/*
viz/__pycache__/*
viz/__pycache__/*.*
viz/__pycache__/*.*.*
jointvae/__pycache__/*
jointvae/__pycache__/*.*
jointvae/__pycache__/*.*.*
.ipynb_checkpoints/*
__pycache__/latent_traversals.cpython-36.pyc
jointvae/__pycache__/training.cpython-36.pyc
train_model_realdata_308_64.ipynb
viz/__pycache__/visualize.cpython-36.pyc


.ipynb_checkpoints/*
*.ipynb_checkpoints
